.el-popover,
.el-popper {
  border: none !important;
  outline: none !important;
  background-color: #ac8ece !important;
}

/* .el-tree-node {
  height: 48px;
}

.el-tree-node__content {
  height: 100%;
  width: 100%;
} */
