<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nim.webrtc.api.mapper.FaceTimeMapper">
    <select id="selectTaskType" resultType="java.util.Map" statementType="STATEMENT">
        SELECT f_id AS id, f_name AS name FROM tb_task_biz WHERE 1 = 1
    </select>
    <select id="selectFaceTimeOverview" resultType="java.util.Map" statementType="STATEMENT">
        SELECT COUNT(*), f_state AS state FROM tb_video_call WHERE f_bizid = '${taskid}'
        <choose>
            <when test="state!=null">
                <foreach item="item" collection="state" open=" AND (" close=")" separator=" OR ">
                    f_state = ${item}
                </foreach>
            </when>
        </choose>
        GROUP BY f_state ORDER BY f_state
    </select>
    <select id="selectFaceTimeList" resultType="java.util.Map" statementType="STATEMENT">
        WITH t1 AS (
        SELECT
        f_id AS ID,
        f_tbid AS tbid,
        f_tbbh AS tbbh,
        f_bizid AS taskid,
        f_proid AS proid,
        f_name AS NAME,
        f_createtime AS createtime,
        f_userid AS userid,
        f_state AS STATE,
        f_username AS username,
        f_staffuser AS staffuser,
        f_staffname AS staffname,
        f_begintime AS begintime,
        f_endtime AS endtime
        FROM
        tb_video_call
        WHERE
        f_bizid = '${taskid}'
        <choose>
            <when test="state!=null">
                <foreach item="item" collection="state" open=" AND (" close=")" separator=" OR ">
                    f_state = ${item}
                </foreach>
            </when>
        </choose>
        ORDER BY
        f_createtime
        <choose>
            <when test="limit>0 and page>0">
                LIMIT ${limit} OFFSET ${limit} * (${page} - 1)
            </when>
        </choose>
        ),
        t2 AS ( SELECT f_userid AS userid, f_lon AS lon, f_lat AS lat FROM tb_devicetrack WHERE f_updatetime > ( now() - '00:01:01' :: INTERVAL ) ),
        t3 AS ( SELECT t1.*, t2.lon, t2.lat FROM t1 LEFT JOIN t2 ON t1.userid = t2.userid ) SELECT
        t3.*,
        ( CASE WHEN (t3.lon IS NULL AND t3.lat IS NULL) THEN 0 ELSE 1 END ) AS online
        FROM
        t3
    </select>
    <select id="selectFaceTimeRecord" resultType="java.util.Map" statementType="STATEMENT">

    </select>
    <update id="updateFaceTimeState" statementType="STATEMENT">
        UPDATE tb_video_call SET f_state = ${state}
        <choose>
            <when test="state==2">
              , f_begintime = now()
            </when>
            <when test="state==5">
              , f_endtime = now()
            </when>
        </choose>
        WHERE f_id = '${id}' ;
    </update>
    <update id="updateFaceTimeStaff" statementType="STATEMENT">
        UPDATE tb_video_call SET f_staffuser = ${userid}, f_staffname = '${username}' WHERE f_id = '${id}' ;
    </update>
</mapper>