<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nim.webrtc.api.mapper.PeopleMapper">
    <select id="selectYxInfo" resultType="java.util.Map" statementType="STATEMENT">
        SELECT
            f_id AS userid,
            f_accid AS account,
            f_token AS token
        FROM
            tb_yxuser2
        WHERE
            f_id = ${userid}
    </select>
    <select id="selectUserInfo" resultType="java.util.Map" statementType="STATEMENT">
        SELECT
            f_userid AS userid,
            f_username AS username,
            f_email AS email,
            f_create_date AS createtime
        FROM
            tbsys_user
    </select>
    <select id="selectPeopleTree" resultType="java.util.Map" statementType="STATEMENT">
        SELECT f_id AS userid, f_username AS username FROM tbsys_user WHERE f_id IN (SELECT f_userid FROM tb_user2yx)
    </select>
    <select id="selectUserState" resultType="java.util.Map" statementType="STATEMENT">
        SELECT COUNT
                   ( f_userid )
        FROM
            tb_devicetrack
        WHERE
            f_updatetime > ( now() - '00:01:01' :: INTERVAL )
          AND f_userid = ${userid}
    </select>
    <select id="selectUserCoords" resultType="java.util.Map" statementType="STATEMENT">
        SELECT f_lon AS lng,
               f_lat AS lat
        FROM tb_devicetrack
        WHERE f_userid = ${userid}
    </select>
    <select id="selectPeopleCoords" resultType="java.util.Map" statementType="STATEMENT">
        WITH RESULT AS (
            SELECT f1.lng,
                   f1.lat,
                   f1.userid,
                   f1.NAME
            FROM (
                     SELECT A.f_lon      AS lng,
                            A.f_lat      AS lat,
                            A.f_userid   AS userid,
                            A.f_username AS NAME
                     FROM (
                              WITH A AS (
                                  SELECT T.f_lon,
                                         T.f_lat,
                                         T.f_sbid,
                                         T.f_userid
                                  FROM (SELECT tb_devicetrack.f_lon,
                                               tb_devicetrack.f_lat,
                                               tb_devicetrack.f_sbid,
                                               tb_devicetrack.f_userid
                                        FROM tb_devicetrack) T
                                  ),
                                  b AS ( SELECT tbsys_user.f_userid, tbsys_user.f_username FROM tbsys_user ) SELECT A.f_lon,
                                                                                                                    A.f_lat,
                                                                                                                    A.f_sbid,
                                                                                                                    A.f_userid,
                                                                                                                    b.f_username
                                                                                                             FROM (
                                                                                                                   A
                                                                                                                      LEFT JOIN b
                                                                                                                                ON ((
                                                                                                                                    A.f_userid = b.f_userid
                                                                                                                                    )))) A
                              LEFT JOIN tbsys_user b ON A.f_userid = b.f_userid
                     WHERE A.f_userid IN (SELECT f_userid
                                          FROM tbsys_user
                                          WHERE f_updatetime > (now() - '00:01:01' :: INTERVAL)
                                            AND f_islogin = 1)
                       AND ST_Contains(ST_SetSRID(st_geometryfromtext('${wkt}'), 4490),
                                       ST_SetSRID(ST_MAKEPOINT(A.f_lon, A.f_lat), 4490))) f1
        )
        SELECT A.*
        FROM RESULT A
        WHERE A.lng IS NOT NULL
          AND A.lat IS NOT NULL
    </select>
    <select id="selectPeopleCluster" resultType="java.util.Map" statementType="STATEMENT">
        SELECT
        *
        FROM
        (
        SELECT
        tmp.onlinecount AS COUNT,
        tmp.f_xzqdm AS xzqdm,
        tmp.f_xzqmc AS xzqmc,
        tmp.f_centerx AS lng,
        tmp.f_centery AS lat
        FROM
        (
        WITH xzq AS (
        SELECT
        f_xzqdm,
        f_xzqmc,
        f_centerx,
        f_centery,
        f_level,
        shape
        FROM
        tb_region
        WHERE
        f_xzqdm NOT IN ( SELECT f_xzqdm FROM tb_region WHERE shape IS NULL )
        AND
        <choose>
            <when test="level==2">
                f_level = 2 AND (${filter})
            </when>
            <otherwise>
                f_level = 1
            </otherwise>
        </choose>
        ),
        u AS (
        SELECT
        ST_SetSRID ( ST_MAKEPOINT ( A.f_lon, A.f_lat ), 4490 ) AS point
        FROM
        (
        WITH A AS (
        SELECT T
        .f_lon,
        T.f_lat,
        T.f_sbid,
        T.f_userid
        FROM
        ( SELECT tb_devicetrack.f_lon, tb_devicetrack.f_lat, tb_devicetrack.f_sbid, tb_devicetrack.f_userid FROM
        tb_devicetrack ) T
        ),
        b AS ( SELECT tbsys_user.f_userid FROM tbsys_user ) SELECT A
        .f_lon,
        A.f_lat,
        A.f_sbid,
        A.f_userid
        FROM
        (
        A LEFT JOIN b ON ((
        A.f_userid = b.f_userid
        ))))
        A LEFT JOIN tbsys_user b ON A.f_userid = b.f_userid
        WHERE
        A.f_userid IN (SELECT f_userid FROM tbsys_user WHERE f_updatetime > (now() - '00:01:01' :: INTERVAL) AND
        f_islogin = 1)),
        cc AS (
        SELECT
        xzq.f_xzqdm
        FROM
        u
        LEFT JOIN xzq ON ST_Contains ( xzq.shape, u.point )),
        dd AS ( SELECT COUNT ( 1 ) AS onlinecount, f_xzqdm FROM cc GROUP BY f_xzqdm ) SELECT
        dd.onlinecount,
        dd.f_xzqdm,
        xzq.f_xzqmc,
        xzq.f_centerx,
        xzq.f_centery
        FROM
        dd
        LEFT JOIN xzq ON dd.f_xzqdm = xzq.f_xzqdm
        ) tmp
        WHERE
        tmp.f_xzqdm IS NOT NULL
        ) RESULT
        WHERE
        RESULT.lng IS NOT NULL
        AND RESULT.lat IS NOT NULL
    </select>
</mapper>