// 全局样式

@charset 'utf-8';

@import '../color/color';

html {
  overflow-x: hidden;
}

html *,
html *::before,
html *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// size
$size_max: 999rem;
$size_960: 68.572rem; // 960px
$size_640: 45.714rem; // 640px
$size_540: 38.571rem; // 540px
$size_420: 30rem; // 420px
$size_360: 25.714rem; // 360px
$size_300: 21.429rem; // 300px
$size_240: 17.143rem; // 240px
$size_180: 12.857rem; // 180px
$size_160: 11.52rem; // 160px
$size_120: 8.572rem; // 120px
$size_108: 7.714rem; // 108px
$size_96: 6.858rem; // 96px
$size_84: 6rem; // 84px
$size_72: 5.143rem; // 72px
$size_64: 4.571rem; // 64px
$size_60: 4.286rem; // 60px
$size_48: 3.429rem; // 48px
$size_42: 3rem; // 42px
$size_36: 2.572rem; // 36px
$size_32: 2.286rem; // 32px
$size_30: 2.143rem; // 30px
$size_28: 2rem; // 28px
$size_24: 1.714rem; // 24px
$size_22: 1.584rem; // 22px
$size_20: 1.429rem; // 20px
$size_18: 1.286rem; // 18px
$size_16: 1.143rem; // 16px
$size_15: 1.143rem; // 16px
$size_14: 1.08rem; // 15px
$size_12: 0.857rem; // 12px
$size_10: 0.714rem; // 10px
$size_9: 0.643rem; // 9px
$size_8: 0.572rem; // 8px
$size_7: 0.5rem; // 7px
$size_6: 0.429rem; // 6px
$size_5: 0.357rem; // 5px
$size_4: 0.286rem; // 4px
$size_3: 0.214rem; // 3px
$size_2: 0.143rem; // 2px
$size_1: 0.072rem; // 1px

// 媒体查询断点
$breakpoint: (
  xs: 34.286rem,
  // 480px
    sm: 41.143rem,
  // 576px
    md: 54.857rem,
  // 768px
    lg: 70.857rem,
  // 992px
    xl: 85.714rem,
  // 1200px
    xxl: 114.286rem // 1600px
);

// 布局
.layout-wapper {
  padding: 1%;
  width: 100%;
  margin: auto;
  display: flex;
  max-width: map-get($breakpoint, xxl);

  .contronl-wapper {
    padding: 1%;
    margin: auto;
    display: flex;

    .content-wapper {
      padding: $size_12;
      margin: auto;
    }
  }

  /* Extra small devices (phones, sm and down) */
  @media only screen and (max-width: map-get($breakpoint, sm)) {
    & {
      flex-direction: column;
      background-color: red;
    }

    .contronl-wapper {
      flex-direction: column;
    }
  }

  /* Small devices (portrait tablets and large phones, sm and up) */
  @media only screen and (min-width: map-get($breakpoint, sm)) {
    & {
      flex-direction: column;
      background-color: green;
    }

    .contronl-wapper {
      flex-direction: row;
    }
  }

  /* Medium devices (landscape tablets, md and up) */
  @media only screen and (min-width: map-get($breakpoint, md)) {
    & {
      flex-direction: row;
      background-color: blue;
    }

    .contronl-wapper {
      flex-direction: column;
    }
  }

  /* Large devices (laptops/desktops, lg and up) */
  @media only screen and (min-width: map-get($breakpoint, lg)) {
    & {
      flex-direction: row;
      background-color: orange;
    }

    .contronl-wapper {
      flex-direction: row;
    }
  }

  /* Extra large devices (large laptops and desktops, xl and up) */
  @media only screen and (min-width: map-get($breakpoint, xl)) {
    & {
      flex-direction: row;
      background-color: pink;
    }

    .contronl-wapper {
      flex-direction: row;
    }
  }

  & {
    background-color: transparent;
  }
}

// animation
$ease_in: 0.2s ease;
$ease_quick: 0.2s ease;
$ease_in_out: 0.1s cubic-bezier(1, 0.5, 0.8, 1);

// z-index
$zindex_affix: 10;
$zindex_back-top: 101;
$zindex_modal-mask: 1000;
$zindex_modal: 1000;
$zindex_notification: 1010;
$zindex_message: 1010;
$zindex_popover: 1030;
$zindex_picker: 1050;
$zindex_dropdown: 1050;
$zindex_tooltip: 1060;

// border
$border_base: $size_1 solid map-get($default, grey_4);

//shadow

$shadow_base: 0 $size_1 $size_3 map-get($default, grey_5);

$shadow_strong: 0 $size_6 $size_12 map-get($default, grey_5);

$shadow_power: 0 $size_12 $size_24 map-get($default, grey_5);

$shadow_base_inset: 0 $size_1 $size_3 0 map-get($default, grey_5) inset;

$shadow_strong_inset: 0 $size_6 $size_12 0 map-get($default, grey_5) inset;

$shadow_power_inset: 0 $size_12 $size_24 0 map-get($default, grey_5) inset;

.shadow_base {
  box-shadow: $shadow_base;
}

.shadow_strong {
  box-shadow: $shadow_strong;
}

.shadow_power {
  box-shadow: $shadow_power;
}

// transform
$transform_base: scale(1.01);
$transform_move: translateX($size_3) scale(1.1);

// media
@media only screen and (max-width: map-get($breakpoint, sm)) {
  blockquote {
    margin: 1em 0;
  }
}

// font

$font_weight: 400;

$font_family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// text

p,
a,
span,
input,
textarea {
  font-size: $size_15;
  font-family: $font_family;
  font-weight: $font_weight;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
i,
a,
span,
input,
textarea {
  &.vertical {
    writing-mode: vertical-rl;
  }

  &.primary {
    margin: auto 0;
    text-align: left;
    line-height: 1.572em;
    vertical-align: middle;
    color: map-get($default, grey_7);
  }

  &.max {
    font-size: $size_36;
  }

  &.h1 {
    font-size: $size_32;
    line-height: 1.667em;
    color: map-get($default, grey_7);
  }

  &.h2 {
    font-size: $size_28;
    line-height: 4.667em;
    color: map-get($default, grey_7);
  }

  &.total {
    font-size: $size_20;
    line-height: 2em;
    color: map-get($default, grey_7);
  }

  &.title {
    font-size: $size_18;
    line-height: 1.45em;
    color: map-get($default, grey_7);
  }

  &.secondary {
    font-size: $size_12;
    line-height: 1.667em;
    color: map-get($default, grey_6);
  }

  &.highlight {
    color: map-get($default, high_light);
  }

  &.strong {
    font-weight: 600;
  }

  &.hard-strong {
    font-weight: 800;
  }

  &.center {
    margin: auto;
    text-align: center;
  }

  &.left {
    margin: auto $size_12;
  }

  &.right {
    margin: auto 0 auto auto;
  }

  &.gap {
    margin: auto 0.6rem;
  }

  &.no-gap {
    margin: auto 0;
  }

  &.no-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.nowrap {
    white-space: nowrap;
  }

  &.shadow {
    text-shadow: $shadow_power !important;
  }

  &.narrow {
    line-height: normal;
  }

  &.pure {
    color: map-get($default, pure) !important;
  }

  &.primary-color {
    color: map-get($default, primary) !important;
  }

  &.strong-color {
    color: map-get($default, strong) !important;
  }

  &.high {
    color: map-get($default, high_light) !important;
  }

  &.success {
    color: map-get($default, success) !important;
  }

  &.error {
    color: map-get($default, error) !important;
  }

  &.warning {
    color: map-get($default, warning) !important;
  }

  &.disable {
    color: map-get($default, grey_5) !important;
  }

  i {
    // width: $size_32;
    height: $size_32;
    line-height: $size_32;
    display: inline-flex;

    svg,
    &::before {
      margin: auto;
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &.hover {
    &:hover {
      background-color: map-get($default, bg);
      color: map-get($default, primary_dark_2);
    }
  }

  &.text {
    border-bottom: $size_3 solid map-get($default, none);

    &:hover {
      border-bottom-color: map-get($default, grey_4);
    }
  }

  &.tips {
    height: $size_32;
    width: $size_108;
    border-radius: $size_16;
  }

  &.simple {
    padding: 0 $size_6;

    i {
      // width: $size_32;
      height: $size_32;
      display: flex;
      color: map-get($default, primary);

      svg {
        margin: auto;
      }
    }
  }

  &.button {
    display: flex;
    margin: auto;
    padding: 0 $size_12;
    flex-direction: row;
    border-radius: $size_36;
    box-shadow: $shadow_base;
    border: $size_2 solid map-get($default, primary_1);
    background-color: map-get($default, glass);

    i {
      margin: auto $size_3;
    }

    &:hover {
      background-image: map-get($default, linear_background);
      box-shadow: $shadow_strong;
    }
  }

  &.tab {
    display: flex;

    span,
    i {
      color: map-get($default, pure);
      z-index: $zindex_affix;
    }

    i {
      display: flex;
      width: $size_32;
      height: $size_32;
      margin-left: 0.3em;

      svg {
        margin: auto;
      }
    }
  }

  &.strong {
    i {
      color: map-get($default, strong);
    }
  }

  &.success {
    i {
      color: map-get($default, success);
    }
  }

  &.error {
    i {
      color: map-get($default, error);
    }
  }

  &.warning {
    i {
      color: map-get($default, warning);
    }
  }
}

// vision effect

a,
input,
button {
  outline: none;
  cursor: pointer;
  transition: all $ease_in, transform $ease_in_out;
}

blockquote {
  position: relative;
  font-weight: 400;
  padding-left: 1em;
  margin: 1em 3em 1em 2em;
  color: map-get($default, grey_6);
  border-left: $size_1 solid map-get($default, strong);
}

abbr {
  cursor: help;
  border-bottom: $size_1 dotted;
  font-variant: normal;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

q::before,
q::after {
  content: '';
}

mark {
  background: map-get($default, strong);
  border-bottom: $size_1 solid map-get($default, strong);
  padding: $size_1 * 2;
  margin: 0 $size_7;
}

::-webkit-scrollbar {
  width: $size_1;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: $size_1;
  background-color: #193564;
}

::-webkit-scrollbar-track {
  border-radius: $size_1;
  background-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: map-get($default, primary_dark_1);
  color: map-get($default, pure);
}

.flex {
  display: flex;
}

.order-center {
  margin: auto !important;
}

[draggable] {
  cursor: move;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.badge .ant-badge-count {
  background-image: map-get($default, linear_primary);
}

.slide-fade-enter-active {
  transition: transform $ease_in, opacity $ease_in;
}

.slide-fade-enter {
  transform: translateX($size_24) translateY($size_18);
  opacity: 0;
}

.slide-fade-leave-active {
  display: none;
}

.radius {
  border-radius: $size_6;
}

.divider {
  display: inline-flex;

  & > div {
    margin: auto;
    background-color: map-get($default, primary);
  }
}

.overlay {
  pointer-events: none;
}

.center {
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

.motion {
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

.no-bg {
  background-color: transparent !important;
  background-image: none !important;
}

.circle {
  border-radius: $size_max;
}

.marker {
  margin: auto;
  display: flex;
  padding: $size_6;
  flex-direction: row;
  background-image: map-get($default, linear_primary_1);

  p {
    margin: auto 0.1em;

    &.center {
      margin: auto;
    }

    &:nth-of-type(1) {
      display: inline-flex;
    }
  }
}

.progress {
  flex: 1;
  display: flex;
  position: relative;

  & > div {
    margin: auto 0;
    display: flex;
    height: $size_16;
    border-radius: $size_16;
    background-image: map-get($default, linear_background);

    & > div {
      margin: auto 0;
      float: left;
      height: 100%;
    }
  }

  .bar {
    flex: 1;
  }

  .tips {
    padding-left: $size_12;
  }
}

.overstory {
  z-index: $zindex_tooltip;
}

.anime-tiny {
  animation: anime-tiny 1.5s ease infinite;
}

.anime-symmetric {
  animation: anime-symmetric 0.6s ease infinite;
}

.anime-flicker {
  animation: flicker 4000ms ease infinite;
}

.anime-reversal {
  animation: flicker 4000ms ease infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes anime-tiny {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(16deg);
  }

  50% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes anime-symmetric {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes anime-reversal {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}
